Ahmad Fadli Ramadhan | E1E121019

# Week 2 Notebook 4 Data Wrangling with Pandas

## Exercises

Let's try out these data wrangling operations with the Iris dataset.

You should have downloaded the iris_csv.csv dataset into your working directory from the previous exercise.

In [1]:
# We should always start with the import, although it may have been run above
import pandas as pd

In [2]:
# read the data into a dataframe called irisdf
irisdf = pd.read_csv('iris_csv.csv')

**Q1. Missing Values**

Check if there are any missing values in the `irisdf` data set.

In [3]:
# Q1 Answer

result = irisdf[irisdf.isna().any(axis=1)]
result

Empty DataFrame
Columns: [sepallength, sepalwidth, petallength, petalwidth, class]
Index: []

**Q2. Find Duplicates**

There are three duplicate rows, display the rows.

In [4]:
#Q2 Answer

result = irisdf[irisdf.duplicated()]
result

     sepallength  sepalwidth  petallength  petalwidth           class
34           4.9         3.1          1.5         0.1     Iris-setosa
37           4.9         3.1          1.5         0.1     Iris-setosa
142          5.8         2.7          5.1         1.9  Iris-virginica

**Q3. Calculate Mean**

Find the mean `sepallength` and store it in a variable called `mean_sepallength`

In [5]:
#Q3 answer

mean_sepallength = irisdf['sepallength'].mean()

**Q4. Set Value**

Set the `sepallength` of the row with index 34 to the mean value found.

In [6]:
# Q4 Answer

irisdf.loc[34, 'sepallength'] = mean_sepallength
result = irisdf[irisdf.duplicated()]
result

     sepallength  sepalwidth  petallength  petalwidth           class
37           4.9         3.1          1.5         0.1     Iris-setosa
142          5.8         2.7          5.1         1.9  Iris-virginica

Check whether the number of duplicate rows has decreased by displaying the duplicated rows again. You can execute your answer to Q2 again)

**Q5. Drop Duplicates**

Drop the rows with duplicates

In [7]:
# Q5 answer

irisdf.drop_duplicates(inplace = True)
result = irisdf[irisdf.duplicated()]
result

Empty DataFrame
Columns: [sepallength, sepalwidth, petallength, petalwidth, class]
Index: []

Now check if there are any more duplicate values by running your answer to Q2 again.

**Q6. Set as NA**

Set the `sepalwidth` of the row with index 34 to `pd.NA` (which is pandas for NULL value)

In [9]:
# Q6 Answer

irisdf.loc[34, 'sepalwidth'] = pd.NA

We should be able to view the contents of the row with index 34 using the `loc` attribute:

In [10]:
irisdf.loc[34]

sepallength       5.843333
sepalwidth             NaN
petallength            1.5
petalwidth             0.1
class          Iris-setosa
Name: 34, dtype: object

**Q7. Find Rows with Missing Values**

Find the rows with *any* NA values

In [11]:
# Q7 Answer
# Find the rows with any 'na' values, by row (axis = 1 indicates to check row by row)

result = irisdf[irisdf.isna().any(axis=1)]
result

    sepallength  sepalwidth  petallength  petalwidth        class
34     5.843333         NaN          1.5         0.1  Iris-setosa

**Q8. Drop Rows with Missing Values**

Now drop the rows with missing values with the argument `inplace = True`

In [13]:
# Q8 answer

irisdf.dropna(inplace=True)
result = irisdf[irisdf.isna().any(axis=1)]
result

Empty DataFrame
Columns: [sepallength, sepalwidth, petallength, petalwidth, class]
Index: []

Check whether there are any more rows with NA values by running your answer to Q7 again.